<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
   {{>header}}
   <p>This site was created by Andrew Mead. It use data from mapbox.com and darksky.net</p>


    <img src="./img/robot.png" alt="" style="width:100%;"/>
           {{>footer}}

  </body>
</html>
